body {
    background-color: #181818;
}
.BOStext, .BOResetText, .BlueWinText, .OrangeWinText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:600;
}
.BestOfSeries, .BlueWins, .OrangeWins {
    padding-bottom: 20px;
}


/* CSS */
.buttonbw1, .buttonbw2, .buttonbw3, .buttonbw4, .buttonow1, .buttonow2, .buttonow3, .buttonow4, .buttonnobestof, .buttonbestof3, .buttonbestof5, .buttonbestof7, .buttonreset {
  appearance: button;
  backface-visibility: hidden;
  background-color: #ffffff;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight:600;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 115px;
  height: 35px;
}
.buttonreset:hover {
    background-color: rgb(0, 255, 255);
}